<?xml version="1.0"?>

<settings>

    <proxies>
        <proxy>
            <id>alilang</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>localhost</host>
            <port>13658</port>
            <nonProxyHosts>maven.aliyun.com</nonProxyHosts>
        </proxy>
    </proxies>

    <mirrors>
        <mirror>
            <id>alimaven</id>
            <name>aliyun maven</name>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>

        <mirror>
            <id>jbosspublic</id>
            <name>jboss public</name>
            <url>http://repository.jboss.org/nexus/content/groups/public-jboss/</url>
            <mirrorOf>jboss-public-repository-group</mirrorOf>
        </mirror>
    </mirrors>

</settings>
