<?xml version="1.0"?>

<settings>

    <mirrors>

        <!--  <mirror>-->
        <!--      <id>alimaven</id>-->
        <!--      <name>aliyun maven</name>-->
        <!--      <url>http://maven.aliyun.com/nexus/content/groups/public/</url>-->
        <!--      <mirrorOf>central</mirrorOf>-->
        <!--  </mirror>-->

        <!-- add below mirror as some dependencies of jboss public   -->
        <!--  cannot be found in http://repository.jboss.org/nexus/content/groups/public/   -->
        <!--  but in http://repository.jboss.org/nexus/content/groups/public-jboss  /-->
        <mirror>
            <id>jbosspublic</id>
            <name>jboss public</name>
            <url>http://repository.jboss.org/nexus/content/groups/public-jboss/</url>
            <mirrorOf>jboss-public-repository-group</mirrorOf>
        </mirror>
    </mirrors>

</settings>
